@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    color: #fff;
    box-sizing: border-box;
}

body {
    background-color: #1A1330;
    overflow: hidden;
}

nav{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
}

.index__logo {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}


.index__search_bar input {
    height: 40px;
    width: 350px;
    border-radius: 10px;
    border: none;
    background-color: #a1a1a1;
    color: #ffffbd;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    outline: none;
    padding-left: 20px;
}

.index__prediction_box {
    width: 200px;
    height: 200px;
    max-width: 200px;
    background-color: #2b1d5a;
    position: absolute;
    top: 70px;
    left: 40%;
    z-index: 5;
    display: none;
    padding: 10px;
    overflow-y: scroll;
    border-radius: 10px;
}

.index__prediction_box::-webkit-scrollbar {
    width: 3px;
}

.index__prediction_box::-webkit-scrollbar-track {
    -webkit-box-shadow:inset 0 0 10px #BDDAE0
}   

.index__prediction_box::-webkit-scrollbar-thumb {
    background-color: #f5af09;
}

.index__prediction_box dl dt {
    margin-bottom: 20px;
}

.index__prediction_box dl dt a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: light;
}

.index__prediction_box dl dt a:hover {
    color: #93af38;
}

.index__prediction_box dl dt img{
    width: 80px;
    height: 40px;
    clip-path: circle();
    padding: 0px 20px;
    object-fit: cover;
    margin-right: -12px;
}


.index__not_signed_in_handle {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px; 
}

.index__user_handle {
    display: none;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.index__new_post_button {
    height: 35px;
    width: 103px;
    background-color: #4203ff9d;
    font-family: 'Roboto', sans-serif;
    border: none;
    cursor: pointer;
}

.index__new_post_button:hover {
    background-color:#5438af;
    transition: .3s;
}
.index__register_form, .index__login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.index__profile_pic_register{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid grey;
    overflow: hidden;
}

.index__profile_pic_register img {
    height: 150px;
    width: 300px;
    padding: 0px 22px;
    clip-path: circle();
    object-fit: contain;
    position: relative;
    left: -51%;
}

.index__profile_pic_register input[type='file'] {
    display: none;
}

#uploadBtn {
    height: 40px;
    width: 100%;
    position: relative;
    bottom: 0;
    top: -28%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    background-color: rgba(0,0,0,0.7);
    line-height: 25px;
    cursor: pointer;
    display: none;
}

.index__form_input_field {
    background-color: #323363;
    width: 300px;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.index__form_input_field:focus {
    border: 1px solid #BDDAE0;
    outline: none;
}

.index__register_form button[type="submit"], .index__login_form button[type="submit"], .index__modal_form button[type="submit"] {
    width: 100px;
    height: 50px;
    background-color: #5438af;
    border: none;
    cursor: pointer;
}

.index__register_form button[type="submit"]:focus, .index__login_form button[type="submit"]:focus, .index__modal_form button[type="submit"]:focus{
    outline: none;
}

.index__register_form button[type="submit"]:hover, .index__login_form button[type="submit"]:hover, .index__modal_form button[type="submit"]:hover {
    background-color:#6746d3;
    transition: .5s;
}

.index__new_post_button:focus{
    outline: none;
}

.modal-content {
    background-color: #251b46 !important;
}

.modal-header {
    border-bottom: 1px solid #54497550;
}

.modal-footer {
    border-top: 1px solid #54497550;
}

.index__modal_form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.index__modal_form input[type="file"] {
    display: none;
}

.index__modal_form label {
    padding: 3px;
    height: 40px;
    width: 180px;
    background-color: #f5af09;
    font-size: 17px;
    display: flex;
    justify-content:center;
    align-items: center; 
    cursor: pointer;
}

.index__modal_form textarea {
    padding: 10px;
    width: 50vh;
    height: auto ;
    background-color: #323363;
    color: #ffffffbd;
    border: none;
    outline: none;
    resize: none;
}

.index__modal_form textarea::-webkit-scrollbar {
    width: 3px;
}

.index__modal_form textarea::-webkit-scrollbar-track {
    -webkit-box-shadow:inset 0 0 10px #BDDAE0
}   

.index__modal_form textarea::-webkit-scrollbar-thumb {
    background-color: #f5af09;
}

.index__modal_form label:hover {
    background-color:#d19200;
    transition: .5s;
}

.index__user_handle img {
    width: 100px;
    height: 50px;
    clip-path: circle();
    object-fit: cover;
    padding: 0px 20px;
    cursor: pointer;
}

hr {
   border: 1px solid #54497550;
   margin: 0px 100px;
}

.user_comment {
    font-size: 16px;
    margin-left: 10px;
    margin-top: 10px;
}

.user_comment dd {
    margin-bottom: 10px;
}

.comment_container {
    height: 300px;
    padding: 0px !important;
}

.comment_form {
 position: relative;
 top: 240px;   
 display: flex;
 align-items: center;
 justify-content: center;
 padding-left: 10px;
}

.all_comments {
    width: 497px;
    height: 230px;
    position: fixed;
    padding:0px 5px;
    overflow-y: scroll;
    margin-right: 5px;
}

.all_comments::-webkit-scrollbar {
    width: 5px;
}

.all_comments::-webkit-scrollbar-track {
    -webkit-box-shadow:inset 0 0 10px #BDDAE0
}   

.all_comments::-webkit-scrollbar-thumb {
    background-color: #f5af09;
}

.comment_form button {
    background: transparent;
    border: none;
    outline: none;
    padding:10px;
}
.comment_textarea {
    height: 45px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #323363;
    color: #ffffffbd;
    border: none;
    outline: none;
    resize: none;
    border-radius: 2px;
}

.user_comment dt img{
    width: 80px;
    height: 40px;
    clip-path: circle();
    padding: 0px 10px;
}

.index__main{
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

.index__start_section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.index__start_section dl dt {
    margin-bottom: 20px;
}

.index__start_section dl dt a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.index__start_section dl dt a:hover {
    color: #93af38;
}

.index__start_section dl dt img {
    width: 80px;
    height: 40px;
    clip-path: circle();
    padding: 0px 20px;
    object-fit: cover;
    margin-right: -12px;
}

.index__middle_section {
    flex: 1;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    gap: 35px;
    overflow:scroll;
    padding-bottom: 50px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.index__middle_section::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.index__middle_section {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.index__post_card {
    height: 500px;
    width: 400px;
    background-color: #5d508863;
    border-radius: 10px;
}

.index__post_card_header{
    display: flex;
    font-size: 30px;
    height: 63px;
    padding-top: 10px;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.index__picture_dropdown {
    padding: 0px;
}
.index__picture_dropdown ul {
    list-style-type: none;
    text-align: left;
    padding: 0;
    margin: 0;
    
}

.index__picture_dropdown ul li {
    padding: 5px;
    color: #000;
}

.index__picture_dropdown ul li a {
    color: #000;
}

.index__picture_dropdown ul li a:hover, .index__picture_dropdown ul li i a:hover, .index__dropdown_menu a:hover {
    color: #5438af;
}

.index__dropdown_menu {
    text-align:center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.index__dropdown_menu a {
    color: #000;
}

.index__your_post_message {
    font-family: 'Roboto' sans-serif; 
    font-size: 16px; 
    margin-right: 10px;
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    height: 60px;
}

.index__dropdown_menu form {
    display: flex;
    flex-direction: column;
}

.index__dropdown_menu input {
    color: black;
    text-decoration: none;
    border: none;
    outline: none;
    background: transparent;
    gap: 10px;

}

.index__dropdown_menu input:hover {
    color: #5438af;
    cursor: pointer;
}

.index__post_card_header i {
    margin-right: 20px;
    cursor: pointer;
}

.index__post_card_header_img_name{
    display: flex;
    align-items: center;
    justify-content: center;
}

.index__post_card_header_img_name span {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-left: -10px;

}


.index__post_card_header_img_name img {
    width: 100px;
    height: 50px;
    clip-path: circle();
    padding: 0px 24px;
    object-fit: cover;
}

.index__post_card_img {
    height: 350px;
    width: 400px;
    padding: 10px 0px;
    background-color: #251b46;
}

.index__post_card_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.index__post_card_like_comment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 87px;
    padding: 0px 20px;
    font-size: 25px;
}

.index__comment_container {
    height: 400px !important;
    width: 600px !important;
}

.animate__animated.animate__zoomIn {
    --animate-duration: .5s;
  }

.index__likes_form button {
    border: none; 
    background: transparent;
    outline: none;
}

.index__post_card_like_comment i {
    color: #868dc0;
    cursor: pointer;
}

.index__post_card_like_comment .heart {
    color: #ec3030;
    transition: .5s;
}


.index__end_section {
    flex: 1;
}

/* ******************************* User profile Page *************************************** */
.user_profile__main {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    padding: 20px 100px;
    overflow-y:scroll;
    overflow-x: hidden;
    flex-direction: column;
}

.user_profile__main::-webkit-scrollbar {
    width: 3px;
}

.user_profile__main::-webkit-scrollbar-track {
    -webkit-box-shadow:inset 0 0 10px #BDDAE0
}

.user_profile__main::-webkit-scrollbar-thumb {
    background-color: #f5af09;
}

.user_profile__post_display {
    margin-top: 30px;
    width: calc(100vw - 200px);
    display: inline-grid;
    grid-template-columns: .5% .5% .5%;
    grid-row-gap: 80px;
    column-gap: 400px;
    scroll-behavior: smooth;
}

.user_details__post_display {
    margin-top: 30px;
    width: calc(100vw);
    display: inline-grid;
    grid-template-columns: .5% .5% .5%;
    grid-row-gap: 80px;
    column-gap: 400px;
    scroll-behavior: smooth;
}

.user_profile__post_card_img{
    height: 350px;
    width: 350px;
    padding: 10px 0px;
    background-color: #251b46;
}

.user_post__post_card {
    height: 500px;
    width: 350px;
    background-color: #5d508863;
    border-radius: 10px;
}

.user_profile__post_card_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.user_profile__likes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    gap: 5px;
}

.user_profile__likes span {
    font-size: 16px;
}

.remove_post_form {
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove_post_btn {
    background-color: #ec3030;
    color: #fff;
    width: 100px;
    font-size: 16px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

.remove_post_btn:hover {
    background-color: #c92b2b;
    transition: .5s;
}


/* **************************** USER DETAIL PAGE ********************** */ 

.user_details__header {
    width: 100%;
    height: 300px;
    display: flex;
    margin-bottom: 30px;

}


.user_details__image_name {
    display: flex;
    align-items: center;
    flex: 1;
}

.user_details__image_name span {
    margin-left: -80px;
}

.user_details__following_info {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.user_details__profile_img img{
    height: 200px;
    width: 400px;
    clip-path: circle();
    padding: 0px 100px;
    object-fit: cover;
    margin-left: -100px;
}

.searchicon {
    color: white;
    display: none;
}

#login_spinner {
    display: none;
}

#register_spinner {
    display: none;
}

#post_spinner {
    display: none;
}


/* ***************************  MEDIA QUERIES ********************* */

@media (max-width: 600px) { 
    nav{
        height: 80px;
        display: flex;
        justify-content: space-between;
        padding: 0px 10px;
    }
    
    .index__logo {
        width: 160px;
        display: fl4x;
        justify-content: center;
        align-items:center;
    }

    .index__logo  h1{ 
        font-size: 22px;
        font-family: 'Roboto', sans-serif;

    }

    .index__search_bar input {
        width: 150px;
        margin-right: 5px;
    }

    .index__prediction_box {
        position: absolute;
        top: 90px;
        right: 100px;
        left: 100px;
        z-index: 5;
    }

    .index__new_post_button {
        width: 80px;
    }

    .index__user_handle {
        justify-content: space-evenly;
        align-items: center;
        gap: 0px;
        width: 150px;
        margin-right: -15px;
        z-index: 1050;
    }

    #mediaquerystyle_avatar {
        width: 100px;
        height: 50px;
        clip-path: circle();
        object-fit: cover;
        padding: 0px 10px;
        cursor: pointer;
    }

    .index__modal_form textarea {
        padding: 10px;
        width: 250px;
    }

    .index__main{
        width: 100%;
        height: calc(100vh - 80px);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-top: 20px;

    }

    .index__start_section {
        flex: 1;
        align-items: start; 
    }

    .index__start_section h5 {
        padding-left: 10px;
    }

    .index__start_section dl {
        display: flex;
        justify-content: space-evenly;
    }

    .index__start_section dl dt{ 
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        text-align: center;
    }

    .index__middle_section {
        flex: 7;
        margin: 0px 10px;
        align-items: center;
    }

    .index__post_card {
        width: 330px;
        height: 490px;
    }

    .index__post_card_img {
        height: 350px;
        width: 330px;
        padding: 10px 0px;
        background-color: #251b46;
    }

    .index__end_section {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .user_profile__main {
        width: 100%;
        height: calc(100vh - 100px);
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 0px 0px;
        overflow-y:scroll;
    }

    .user_profile__post_display {
        margin-top: 30px;
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        scroll-behavior: smooth;
    }

    .user_post__post_card {
        width: 330px;
        height: 490px;
    }

    #mediaquerystyle_post_button {
        width: 120px !important;
    }

    .header {
        margin-left: 25px;
    }

    .user_profile__post_card_img{
        width: 330px;
    } 

    .user_details__profile_img img{
        width: 300px;
        height: 150px;
        clip-path: circle();
        padding: 0px 70px;
        object-fit: cover;
        margin-left: -30px;
    }

    .user_details__image_name span {
        margin-left: -50px;
    }

    .user_details__post_display {
        margin-top: 20px;
        width: calc(100vw);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        scroll-behavior: smooth;
        padding-bottom: 20px;
    }

    .user_details__image_name {
        margin-bottom: 20px;

    }

    .user_details__header {
        width: 100%;
        height: 300px;
        display: block;
        margin-bottom: 0px;
        margin-top: 30px;
    }

    .index__search_bar input {
        margin-right: 0px;
        display: none;
        position: absolute;
        width: 100%;
        left: 0px;
    }

    .searchicon {
        display: block;
    }
}
